.login-input-container {
  display: flex;
  width: 100%;

  .input-zone{
    flex: 1;
    padding-left: .45rem;
    padding-bottom: .1rem;
    border-bottom: 1px #EEEEEE solid;
    position: relative;
    .prefix-icon {
      left: 0;
      height: .21rem;
      padding-left: .16rem;
      position: absolute;
    }

    input {
      width: 90%;
      height: .21rem;
      border: 0;
      font-size: .14rem;
      &::-webkit-input-placeholder {
        color: #cccccc;
      }

      -webkit-appearance: textfield;
    }
  }  
}